
/**
	* @file genesis_SUBTHEME.css
	* This stylesheet provides the main styles for this theme.
	*/

/**
	* Remove unused styles for performace.
	*/

/***********************************************************
 *                          Body
 **********************************************************/
body {} /* see the base.css & layout.css stylesheets */


/***********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
	* Be careful how you modify these, see layout.css first.
	*/
#container {}
#columns   {}
#content   {}
#main-content  {}
#content-inner {}


/***********************************************************
 *                     Width Setting
 **********************************************************/
/**
	* Over ride the default width (80em - see layout.css).
	* 80 * 12 = 960px
	*
	* Genesis supports both Fluid and Fixed width values.
	*
	* For a Liquid layout use precentages, e.g
	* .width {width: 85%;}
	*
	* For Fixed width theme, use ems or pixels, e.g
	* .width {width: 960px;}
	* .width {width: 80em;}
	*/
.width {width: 80em;}


/***********************************************************
 *                       Regions/Sidebars
 **********************************************************/
/* Low specifity selectors to target the sidebars or regions */
.region {}
.sidebar {}

/* Higher specifity selectors. */
#leaderboard       {}
#header-blocks     {}

#sidebar-left      {background: #FFFFEA;}
#sidebar-right     {background: #F9FBFC;}

#secondary-content {}
#tertiary-content  {}

#content-top       {}
#content-bottom    {}

#footer            {text-align: center;}


/***********************************************************
 *                 Global Link Styles
 **********************************************************/
a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}


/***********************************************************
 *                    HTML elements 
 **********************************************************/
/** 
	* Add any html elements you require. Use base.css as a guide.
	*/
h1   {}
h2   {}
h2 a {}
h3   {}
h3 a {}
p          {}
blockquote {}


/***********************************************************
 *                       Header 
 **********************************************************/
/**
	* Branding, Logo, Site name & Slogan.
	*/
#header        {}

#logo          {}

h1#site-name,
div#site-name  {}

#site-name a:link,
#site-name a:visited {}
#site-name a:hover   {}

#site-slogan   {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
	* Implimentation of Primary and Secondary Links.
	*
 * Primary & Secondary Links are colored by default so you 
	* can easily identify them.
	*/

/**
	* #nav is the containing div for Primary & Secondary Links.
	*/
#nav {
  clear: both; 
		margin: 0.75em 0;
}

/**
 * Classes to support any nav menu configuration.
	*/
#nav.primary-secondary {} /* Both primary and secondary menus. */
#nav.with-primary      {} /* Primary menu only. */
#nav.with-secondary    {} /* Secondary menu only. */

/**
	* Primary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the primary links Right or Center.
	*/
	
/* FLOAT PRIMARY RIGHT */
/*
#primary .primary-inner {float: right;}
*/

/* ALIGN PRIMARY CENTER */
/*
#primary .primary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Primary Links Style
	* Example styles to get you started.
	*/
#primary { 
	 padding: 0;
	 background: #FFFF99; /* Default yellow for dev only. */
		font-weight: bold;
}

/* Modify the margin to positing the menu. */
#primary ul.links {
 	margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#primary ul.links li {
		display: inline;
		list-style: none;
		line-height: 3;
		padding: 0;
		margin: 0 1em;
}

#primary ul.links li a {
		text-decoration: none;
		white-space: nowrap;
}

#primary ul.links li a:hover,
#primary ul.links li a.active,
#primary ul.links li a.active-trail {text-decoration: underline;}

/* Set unique active-trail styles */
/*#primary ul.links li a.active-trail {}*/

/**
	* Secondary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the secondary links Right or Center.
	*/

/* FLOAT SECONDARY RIGHT */
/*
#secondary .secondary-inner {float: right;}
*/

/* ALIGN SECONDARY CENTER */
/*
#secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Secondary Links Style
	*/
#secondary { 
	 padding: 0;
	 background: #99CCFF; /* Default blue for dev only. */
		font-weight: bold;
}

/* Modify the margin to positing the menu. */
#secondary ul.links {
	 margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#secondary ul.links li {
		display: inline;
		list-style: none;
		line-height: 3;
		padding: 0;
		margin: 0 1em;
}
#secondary ul.links li a {
		text-decoration: none;
		white-space: nowrap;
}
#secondary ul.links li a:hover,
#secondary ul.links li a.active,
#secondary ul.links li a.active-trail {text-decoration: underline;}

/* Set unique active-trail styles */
/*#secondary ul.links li a.active-trail {}*/


/***********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
	* Genesis places the breadcrumb directly below the header, 
	* giving it the full width of theme to expand in to.
	*/
.breadcrumb {
  margin: 0;
  padding: 0 0 0.75em 0;
}


/***********************************************************
 *                       Mission
 **********************************************************/
#mission {
  margin: 0 0 1.5em 0;
		padding: 0 0.375em;
		font-weight: bold;
}



/***********************************************************
 *                        Nodes
 **********************************************************/
/** 
	* Implimentation of node styles.
	*/
.node {}

.node h2.node-title {}

.node h2 a:link,
.node h2 a:visited,
.node h2 a:active {
  text-decoration: none;
}

.node h2 a:hover {
  text-decoration: underline;
}

.node div.picture {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
}

.node div.submitted {
  color: #888;
	 margin: 0;	
}

.node ul.links {
  display: block; 
	 text-align: right;
}

/* Theme the node teaser seperatly. */
.node-teaser {
}

/* Colorize unpublised nodes for admins. */
.node-unpublished {
  background-color: #FFF4F4; 
 	padding: 0.2em;
}

.node div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.3em;
}

/* Theme Sticky nodes. */
.sticky {}

/* Theme node types. */
.node-type-blog  {}
.node-type-page  {}
.node-type-story {}
.node-type-forum {}
.node-type-book  {} 
 
/* Theme nodes that belong to the author. */
.node-mine {}


/***********************************************************
 *                       Blocks
 **********************************************************/
/** 
	* Implimentation of block styles.
	* Styles set here will be inherited by all blocks.
	*/
.block {
  padding: 0;
  margin: 0 0 1em;
  clear: both;
}

.block h2 {
  font-size: 1.5em; 
	 font-weight: bold;
}

.block .content {
  padding: 0;
}

.block ul.menu {
  margin-left: 0;
}

.block ul.menu li {
  margin: 0 0 0 1.5em;
  padding: 0;
}

tr .block {
  border: none; /* Blocks page table. */
}


/***********************************************************
 *                     Comments
 **********************************************************/
/** 
	* Implimentation of comment styles.
	*/
div.comment {
  margin: 0 0 0.7em 0;
	 padding: 0.35em; 
}

/* Over-ride default .inner styles. */
.comment-inner {}

div.indented {
  margin-left: 2em;
}

div.comment h3.title {
	 margin-bottom: 0.1em;
}

h3#comment-number {
  margin-top: 1em;
}

div.comment h3.title a:link,
div.comment h3.title a:visited,
div.comment h3.title a:active {
  text-decoration: none;
}

div.comment h3.title a:hover {
  text-decoration: underline;
}

div.comment .picture {
  float: right; 
	 margin: 0.3em 0 0.1em 0.3em;
}

div.comment .picture img {
	padding: 0;
}

div.comment .submitted {
  font-size: 0.9em; 
	 margin: 0.17em 0;
}

div.comment .links {
	 text-align: right; 
	 clear: both;
}


/***********************************************************
 *               Footer, Footer Message
 **********************************************************/
/** 
	* Basic styles for the footer.
	*/
#foot-wrapper { 
  text-align: center;
	 margin: 0.25em 0;
	 padding: 0.7em;
}

#footer a, 
#footer-message a {
  padding: 0.42em;
}
